:root {
  --color-bg: #f4f6f8;
  --color-primary: #2c3e50;
  --color-secondary: #3498db;
  --color-accent: #f1c40f;
  --font-main: 'Poppins', sans-serif;
  --color-text: #2c3e50;
}

[data-theme="dark"] {
  --color-bg: #1b1b1b;
  --color-text: #000000;
  --color-card: #2c3e50;
}


body {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.card {
  background-color: var(--color-card);
  color: var(--color-text);
}

.theme-toggle {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--color-text);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--color-primary);
  color: white;
}

nav a {
  margin-left: 1rem;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.btn-accent {
  background-color: var(--color-accent);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: black;
}

.hero {
  text-align: center;
  padding: 4rem 2rem;
  background-color: white;
}

.btn-primary {
  background-color: var(--color-accent);
  color: var(--color-card);
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.modules {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.card i {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--color-secondary);
}

footer {
  text-align: center;
  padding: 2rem;
  background-color: var(--color-primary);
  color: white;
}
